.Result {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
    gap: 10px;
}

.Result button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    font-size: 8vw;
}

.Message {
    font-size: 3vw;
}

.Question {
    font-size: 5vw;
}