.Result {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5vw;
    gap: 1vw;
}

.Result button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 8vw;
}

.Message {
    font-size: 5vw;
    height: 5vw;
}

.Question {
    font-size: 10vw;
    height: 10vw;
}