.Result {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5vw;
    gap: 1vw;
}

.ResultButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 4vw;
    background: #AFDFE4;
    transition: transform .2s;
    &:active{
        transform: scale(.95);
        background: #09DDE0
    }
    font-size: 8vw;
    font-family: 'Kiwi Maru', serif;
}

.ResultButton.Push {
    background: #09DDE0
}

.Message p {
    display: inline;
    background-color: #dbffd8;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-size: 5vw;
    font-family: 'Kiwi Maru', serif;
    border-radius: 4vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.Svg {
    padding-top: 2vw;
    width: 40vw;
}

.Header {
    width: "100%";
    display: flex;
    justify-content: space-between;
}

.Timer {
    display: inline-block; 
    padding-left: 1vw;
    font-size: 3vw;
    font-family: 'Kiwi Maru', serif;
}

.Settings {
    display: inline-block;
    padding: 1vw;
}

.Settings button {
    width: 5vw;
    height: 5vw;

    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3vw;

    transition: transform .2s;
    &:active{
        transform: scale(.8);
    }

    background-size: 80%;
    margin-left: 1vw;
}

#path1 {
    stroke: rgb(0,0,0); 
    stroke-width: 5; 
    stroke-dasharray: none; 
    stroke-linecap: butt; 
    stroke-dashoffset: 0; 
    stroke-linejoin: miter; 
    stroke-miterlimit: 4; 
    fill: rgb(255,255,255); 
    fill-opacity: 0; 
    fill-rule: nonzero; 
    opacity: 1;
}

#path2 {
    stroke: rgb(0,0,0); 
    stroke-width: 5; 
    stroke-dasharray: none; 
    stroke-linecap: butt; 
    stroke-dashoffset: 0; 
    stroke-linejoin: miter; 
    stroke-miterlimit: 4; 
    fill: none; 
    fill-rule: nonzero; 
    opacity: 1;
}

#txt {
    stroke: none; 
    stroke-width: 1; 
    stroke-dasharray: none; 
    stroke-linecap: butt; 
    stroke-dashoffset: 0; 
    stroke-linejoin: miter; 
    stroke-miterlimit: 4; 
    fill: rgb(0,0,0); 
    fill-rule: nonzero; 
    opacity: 1; 
    white-space: pre;
    font-family: 'Kiwi Maru', serif;
}